<div class="gridster">
<ul>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1" >
		<div  data-view="List" data-id="email" data-unordered="true" data-title="email" ></div>
	</li>
	<li data-row="2" data-col="1" data-sizex="2" data-sizey="1" >
		<div  data-view="List" data-id="opportunity" data-unordered="true" data-title="opportunity" ></div>
	</li>
	<li data-row="3" data-col="1" data-sizex="2" data-sizey="1" >
		<div  data-view="List" data-id="project" data-unordered="true" data-title="project" ></div>
	</li>
</ul>
